h1{
    color: blue;
}
body{
    background-color: antiquewhite;
}
.Biografia{
    height: 280px;
    width: 100%;
    background-color: beige;
}
.ulises{
    background-color: orange;
    width: 25%;
    height: 180px;
}
.orfeo{
    background-color: blue;
    width: 50%;
    height: 200px;
}
.perseo{
    background-color: gray;
    width: 75%;
    height: 220px;
}